<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Cloud API</a></logo>
  
  <!-- Collapsible content -->
  <links>
  
   <!-- Links -->
   <ul class="navbar-nav mr-auto" *ngIf="auth.isAuthenticated()">
       <li class="nav-item" [routerLinkActive]="['active']">
           <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
           <a [routerLink]="['/books']" class="nav-link waves-light" mdbRippleRadius>Books<span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/pokemon']" class="nav-link waves-light" mdbRippleRadius>PokemonAPI<span class="sr-only">(current)</span></a>
        </li>

       <!-- Dropdown -->
      
   </ul>

   <button id="qsLoginBtn"
   class="btn btn-primary my-2 my-sm-0"
   *ngIf="!auth.isAuthenticated()"
   (click)="auth.login()" type="button">
   Log In
   </button>

   <button id="qsLogoutBtn"
   class="btn btn-primary my-2 my-sm-0"
   *ngIf="auth.isAuthenticated()"
   (click)="auth.logout()" type="button">
   Log Out
   </button>
   <!-- Links -->
   <!-- Search form -->
  
  </links>
  <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->